{% apply inline_css %}

    <style>
         div {
             font-family: Helvetica, sans-serif;
         }

         h1 {
             color: purple;
         }
    </style>
<div>
    <h1>Thank you, {{ email.toName }}</h1>

    <p>Your order has been placed. Your order number is {{ order_number }}</p>

    <p>The expected delivery date is {{ delivery_date|date('F jS') }}</p>
</div>

{% endapply %}