{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" style="margin-top: 10px;">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
   </div>
   <div class="row d-flex justify-content-center" style="margin: 50px 0;">
       <div class="col-6" style="padding: 25px; border: 1px solid #ced4da;">
           {{ form(form) }}
       </div>
   </div>
{% endblock %}