{% extends 'base.html.twig' %}

{% block title %}Add Contact{% endblock %}

{% block body %}
   <div class="row d-flex justify-content-center" style="margin: 50px 0;">
       <div class="col-6" style="padding: 25px; border: 1px solid #ced4da;">
           <div>
               {{ form(form) }}
           </div>
           <div>
               <a href="{{ path('contacts.list') }}">to contacts list ?</a>
           </div>
       </div>
   </div>
{% endblock %}